<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zistemo Converter</title>
    <style>
        body {
          margin: 0;
          background-color: #E6E4E0;
        }
  
        .center {
          display: grid;
          justify-content: center;
          align-items: center;
          font-family: paralucent,sans-serif;
        }
      </style>
</head>
<body>
    <div class="center">
      <h1>Consilia Zistemo Converter v{{ version }}</h1><br>

      <form method="POST" action="/" enctype="multipart/form-data">
          <input type="file" name="file">
          <button>Convert & Download</button>
      </form>
      <br>
    </div>
</body>
</html>